#input-settings {
    min-width: 400px;
}

#videobricksFileInput {
    display: none;
}

#videobricks-video-information, #videobricks-upload-information {
    text-align: center;
}

#videobricks-upload-information {
    padding-top: 20px;
}

#videobricks-upload-progress-bar {
    display: none;
    justify-content: center;
}

#dragAndDropContainer {
    position: relative;
    top: auto;
    right: 7px;
    left: auto;
    bottom: auto;
    margin-top: 20px;
    border: 2px solid #2077bd;;
    border-radius: 6px;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
}

.video-drop-container-gret {
    opacity: 0.5;
    position: absolute;
    display: none;
    background-color: grey;
    height: 100%;
    width: 100%;
}

.videobricks-error-message {
    color: red;
    margin-top: 0 !important;
}

.copy-shortcode-text {
    position: absolute;
    top: -30px;
    right: -25px;
    font-size: 15px;
}
#video-file-label {
    font-size: 14px;
    min-height: 46px;
    line-height: 3.14285714;
    padding: 12px 36px;
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    vertical-align: top;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
#video-file {
    display: none;
}
